<div class="md-dialog-content-body ng-scope" style="margin:10px" >
  <h3 style= "text-align: center; "> {{area.Nombre}} </h3>
  <p> Administracion : {{area.Administracion}}</p>
  <p> Año de Creacion : {{area.AnioCreacion}}</p>
  <p> Categoria internacional : {{area.CategoriaInternacional}}</p>
  <p> Ecorregion : {{area.Ecorregion}}</p>
  <p> Año de Creacion : {{area.AnioCreacion}}</p>
  <p ng-show="area.PlanManejo"> Plan de manejo : {{area.PlanManejo}}</p>
  <p> Superficie : {{area.Superficie}}</p>
  <p ng-show="area.Guardaparques"> Guardaparques : {{area.Guardaparques}}</p>
  <p ng-show="area.Infraestructura"> Infraestructura : {{area.Infraestructura}}</p>
  <p ng-show="area.AtencionVisitantes"> Atencion a visitantes : {{area.AtencionVisitantes}}</p>
</div>
