    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar: ">
    </mat-form-field>
<div class="mat-elevation-z8">


<mat-table [dataSource]="dataSource" matSort>

        <mat-grid-list  cols="4"  matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef> <b>Areas Naturales de Buenos Aires</b> </th>
        
                    <mat-grid-tile mat-cell *matCellDef="let elementGrilla">
                        <app-anp-cell [elementCell]="elementGrilla"></app-anp-cell>
                    </mat-grid-tile>

        </mat-grid-list>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr class='area-element-row' mat-row *matRowDef="let elementGrilla; columns: columnsToDisplay;">
    </tr>
</mat-table>
  <mat-paginator [pageSizeOptions]="[4,8, 16, 24, 32, 46]"></mat-paginator>

</div>

