.mat-card-header{
  background:#0c1a03;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.tipo-titulo{
  font-size: 150%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 5%;
}

.mat-grid-tile .mat-figure{
  margin-top: -55px !important; 
}

.mat-card{
  padding-bottom: 120px !important;
}