table {
  width: 100%;
}

.mat-card-header{
  background: #67A759;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.tipo-titulo{
  font-size: 150%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration-color: white;
  margin-top: 5%;
}