<div>
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [formControl]= "search" placeholder="Ingrese un nombre">
    </mat-form-field>
</div>
<div class="mat-elevation-z8">

    <mat-card-header class="mat-tipography" style="color: black;">
        <mat-card-title class="tipo-titulo"><div class="mat-title">
            Áreas Naturales Protegidas</div>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-grid-list cols="3">
                <mat-grid-tile *ngFor="let element of anpFiltrados">
                    <app-anp-cell [element]="element"></app-anp-cell>
                </mat-grid-tile>         
        </mat-grid-list>
    </mat-card-content>

</div>
