<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row" fxLayoutWrap>
                    <div *ngFor="let dash of dashCard" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
                        <app-indicator [dashData]="dash"></app-indicator>
                    </div>
                </div>

                <div >
                    <app-anp-list></app-anp-list>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
