<div class="header" (window:resize)="onResize($event)">
  <div fxFlex fxLayoutAlign='center center' fxLayout='column' class='mat-typography'>
    <div class="adelante" fxFlex fxLayout='column' fxLayoutAlign='center'>
      <div [class]='classForMainTitle'>G.R.A.N.</div>
      <div [class]='classForSubTitle'>Guía de Reservas y Áreas Naturales</div>
    </div>
    <a class="flecha-abajo adelante sombra" (click)="navigate('flecha')"><img src="assets/icons/flecha-abajo.png" alt="flecha"></a></div>
  </div>
