<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <div class="area-element-imagen">
      <img class="image" src="../assets/imagenes/areanatural.jpeg" alt="Area Natural">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="descripcion mat-elevation-z8">
      <div class="area-element-detail">Atencion al visitante: {{element.AtencionVisitantes}} </div>
      <div class="area-element-detail">Guardaparques: {{element.Guardaparques}} </div>
      <div class="area-element-detail">Plan de manejo: {{element.PlanManejo}} </div>
  </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="descripcion mat-elevation-z8">
      <div class="area-element-detail"> Categoria internacional: {{element.CategoriaInternacional}} </div>
      <div class="area-element-detail"> Año de creación: {{element.AnioCreacion}} </div>
      <div class="area-element-detail"> Ecorregión: {{element.Ecoregion}} </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="descripcion mat-elevation-z8">
      <div class="area-element-detail"> Administración: {{element.Administracion}} </div>
      <div class="area-element-detail"> Superficie: {{element.Superficie}} </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>