.area-element-imagen {
  min-width: 80px;
  margin: 30px;
  height: 150px;
  width: 150px;
}

.image{
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.area-element-detail{
  padding: 10px;
  text-align: center;
  overflow: visible;
}

.descripcion{
  width: 70%;
}