<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <div class="area-element-imagen"></div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="area-element-AtencionVisitantes">Atencion al visitante: {{element.AtencionVisitantes}} </div>
    <div class="area-element-Guardaparques">Guardaparques: {{element.Guardaparques}} </div>
    <div class="area-element-PlanManejo">Plan de manejo: {{element.PlanManejo}} </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="area-element-CategoriaInternacional"> Categoria internacional: {{element.CategoriaInternacional}} </div>
    <div class="area-element-AnioCreacion"> Año de creación: {{element.AnioCreacion}} </div>
    <div class="area-element-Ecorregion"> Ecorregión: {{element.Ecorregion}} </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="area-element-Administracion"> Administración: {{element.Administracion}} </div>
    <div class="area-element-Superficie"> Superficie: {{element.Superficie}} </div>
  </mat-grid-tile>
</mat-grid-list>