table {
    width: 100%;
  }
  
  tr.area-detail-row {
    height: 0;
  }
  
  tr.area-element-row:not(.area-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.area-element-row:not(.area-expanded-row):active {
    background: #efefef;
  }
  
  .area-element-row td {
    border-bottom-width: 0;
  }

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

tr.area-element-row:hover {
    cursor: pointer;
}
