 <mat-card>
    <mat-card-header class="mat-typography titulo-anp">
        <mat-card-title>{{element.Nombre}}</mat-card-title>
</mat-card-header> 
    <mat-card-content>
        <div fxLayout="row">
            <mat-accordion fxFlex="430px">
                <mat-expansion-panel>
                    
                    <mat-expansion-panel-header collapsedHeight="350px" expandedHeight="300px">
                        <div >
                            <img class="img-imagen" src="assets/imagenes/areanatural.jpeg" height="100" width="100">
                            {{element.Descripcion}}   
                        </div>
                    </mat-expansion-panel-header>
                    <div fxLayout="row"  fxLayoutAlign="center">
                        <div class="mat-caption" style="font-weight: bold"> 
                            <a target="_blank" href = "https://www.google.com/maps/search/?api=1&query={{element.Latitud}},{{element.Longitud}}"> 
                                Como llegar 
                            </a>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div class="mat-caption" style="font-weight: bold">
                            Ecorregión: 
                        </div>
                        <div class="mat-caption" style="margin-bottom: 0px">
                            {{element.Ecoregion}}
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div class="mat-caption" style="font-weight: bold">
                            Ubicación: 
                        </div>
                        <div class="mat-caption" style="margin-bottom: 0px">
                            {{element.Localidad}}, {{element.Municipio}}
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div class="mat-caption" style="font-weight: bold">
                            Superficie: 
                        </div>
                        <div class="mat-caption" style="margin-bottom: 0px">
                            {{element.Superficie}} ha.
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-card-content>
</mat-card>
    