<google-chart width="600"
  [title]="chartEcorregion.title"
  [type]="chartEcorregion.type"
  [data]="chartEcorregion.data"
  [columnNames]="chartEcorregion.columnNames"
  [options]="chartEcorregion.options">
</google-chart>

<google-chart width="600"
  [title]="chartCategoriaInternacional.title"
  [type]="chartCategoriaInternacional.type"
  [data]="chartCategoriaInternacional.data"
  [columnNames]="chartCategoriaInternacional.columnNames"
  [options]="chartCategoriaInternacional.options">
</google-chart>

<google-chart width="600"
  [title]="chartPoseeAdmin.title"
  [type]="chartPoseeAdmin.type"
  [data]="chartPoseeAdmin.data"
  [columnNames]="chartPoseeAdmin.columnNames"
  [options]="chartPoseeAdmin.options">
</google-chart>